fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
asyncpg
psycopg2-binary
pydantic-settings
scikit-learn==1.6.1
scikit-fuzzy
scipy
numpy
pandas
africastalking
joblib
python-dotenv
httpx
aiofiles
python-multipart
twilio
transformers
sentencepiece
torch
